.appointment-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.appointment-form h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.appointment-form label {
    display: block;
    margin-bottom: 8px;
}

.appointment-form input {
    width: calc(100% - 16px); /* Subtract padding and border width */
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.appointment-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0056b3;
    }
}

.appointments {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 30vw;
    padding: 20px; /* Add padding for spacing */
    border: 1px solid #ddd; /* Add border */
    border-radius: 8px; /* Add border radius */
    background-color: #f9f9f9; /* Set background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 250px;
    padding: 20px; /* Add padding for spacing */
    border: 1px solid #ddd; /* Add border */
    border-radius: 8px; /* Add border radius */
    background-color: #f9f9f9; /* Set background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
}
